@use "variables" as *;
@use "mixins" as *;
@use "nav-side-menu";
@use "pop-up-delete";
@use "register-product";
@use "login-adm";
@use "register-adm";
@use "form-product";
@use "control-product";
@use "notification-flashcard";
@use "error-403";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $fontDefault;
}

html {
  min-width: 100%;
  height: 100%;

  body {
    background-color: #f9f9f9;
    width: 100%;
    height: 100%;
    min-height: fit-content;
    position: relative;

    .container {
      width: 100%;
      height: 100%;
      min-height: fit-content;

      .main-home {
        width: 100%;
        height: 100%;
        padding: 30px 0;
        overflow-y: auto;

        .search {
          width: 80%;
          max-width: 340px;
          height: 50px;
          margin: 0 auto;
          position: relative;

          .search-input {
            width: 100%;
            height: 100%;
            padding: 0 32px 0 16px;
            border: none;
            border-radius: 16px;
            box-shadow: $shadowElements;
            color: $darkGray;
            font-size: 14px;

            &::placeholder {
              font-size: 14px;
              color: #afafaf;
            }
          }

          img {
            position: absolute;
            right: 8px;
            top: 50%;
            transform: translateY(-50%);
          }
        }

        .products {
          width: 80%;
          margin: 16px auto 0;

          .empty {
            text-align: center;
            background-color: #ffffff;
            display: flex;
            width: 100%;
            max-width: 600px;
            height: 50px;
            border-radius: 8px;
            padding: 16px;
            margin: 32px auto;
            box-shadow: $shadowElements;
            @include center();

            p {
              color: $darkGray;
              text-align: center;
              margin-right: 4px;
            }
          }

          .card-product {
            width: 100%;
            max-width: 340px;
            height: fit-content;
            min-height: 280px;
            margin: 0 auto 32px;
            padding: 16px;
            border-radius: 8px;
            box-shadow: $shadowElements;
            background-color: #ffffff;
            cursor: pointer;

            &:hover {
              border: 2px solid $paleGreen;
            }

            .card-container-1 {
              width: 100%;

              p {
                margin-bottom: 16px;
                font-size: 20px;
                color: $darkGray;
              }
            }

            .card-container-2 {
              width: 100%;
              display: grid;
              grid-template-columns: 100%;

              p {
                font-size: 14px;
                color: $darkGray;
                margin: 4px 0;
              }
            }

            .card-container-3 {
              margin-top: 8px;

              .last-modified {
                font-size: 12px;
                color: #a0a0a0;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  html {
    body {
      .container {
        display: flex;

        .main-home {
          width: 90%;
          height: 100%;
          margin: 0 auto;
          padding: 32px 0;

          .search {
            max-width: 600px;

            .search-input {
              font-size: 16px;

              &::placeholder {
                font-size: 16px;
              }
            }
          }

          .products {
            width: 80%;
            min-width: 790px;

            .card-product {
              max-width: 900px;
              min-height: 200px;

              .card-container-1 {
                p {
                  margin-bottom: 16px;
                }
              }

              .card-container-2 {
                height: 70%;
                position: relative;
                grid-template-columns: 50% 50%;
                grid-template-rows: auto;

                p {
                  font-size: 16px;
                }
              }
            }
          }
        }
      }
    }
  }
}
