<div class="product-container">
  <div class="title-container">
    <div class="title">
      <img src="/img/box.svg" alt="Icone de caixa" />
      <% if(tab === "control") { %>
      <p>Atualizar Produto</p>
      <% } else { %>
      <p>Cadastrar Produto</p>
      <% } %>
    </div>
  </div>
  <p class="description">Campos indicados com * devem ser preenchidos.</p>

  <div class="form-container">
    <div class="fields">
      <div class="field">
        <label>Produto:*</label>
        <input
          class="productName input-field"
          type="text"
          name="productName"
          placeholder="Nome do Produto"
        />
      </div>

      <div class="field">
        <label>Fabricante:*</label>
        <input
          class="makerName input-field"
          type="text"
          name="makerName"
          placeholder="Nome do Fabricante"
        />
      </div>

      <div class="field">
        <label>Fornecedor:*</label>
        <input
          class="providerName input-field"
          type="text"
          name="providerName"
          placeholder="Nome do Fornecedor"
        />
      </div>

      <div class="field">
        <label>Estoque:*</label>
        <input
          type="number"
          name="quantityStock"
          placeholder="0"
          class="quantityStock input-field"
          min="0"
        />
      </div>

      <div class="field">
        <label>Tipo de embalagem:*</label>

        <select name="typePackaging" id="typePackaging" class="input-field">
          <option value="">Selecionar opção</option>
          <option value="Caixa">Caixa</option>
          <option value="Pacote">Pacote</option>
        </select>
      </div>

      <div class="field">
        <label>Unidades por embalagem:*</label>
        <input
          type="number"
          name="units"
          placeholder="0"
          min="0"
          class="units input-field"
        />
      </div>

      <div class="field">
        <label>Quantidade por unidade:</label>
        <input
          type="number"
          name="unitQuantity"
          placeholder="0"
          class="unitQuantity input-field"
          min="0"
        />
      </div>

      <div class="field">
        <label>Valor de compra:*</label>
        <input
          type="number"
          name="purchaseValue"
          placeholder="R$ 0,00"
          class="purchaseValue input-field"
          min="0"
        />
      </div>

      <div class="field">
        <label>Percentual:*</label>

        <input
          type="number"
          class="percentage input-field"
          min="0"
          max="100"
          name="percentage"
          placeholder="0%"
        />
      </div>

      <div class="field">
        <label>Valor de venda:*</label>

        <input
          type="number"
          class="sale input-field"
          name="saleValue"
          placeholder="R$ 0,00"
          min="0"
        />

        <div class="checkbox-container">
          <input type="checkbox" id="saleOfUnits" class="check-units-sale" />
          <label for="saleOfUnits" class="label-check">Venda de unidades</label>
        </div>
      </div>

      <div class="field">
        <label>Valor da unidade:</label>

        <input
          type="number"
          class="unitValue disabled input-field"
          name="unitValue"
          placeholder="R$ 0,00"
          min="0"
          disabled
        />
      </div>
    </div>

    <div class="buttons">
      <% if(tab === "control") { %>
      <button class="submit-btn update">Atualizar</button>
      <% } else { %>
      <button class="submit-btn register">Cadastrar</button>
      <% } %>
      <button class="clean-btn">Limpar campos</button>
    </div>
  </div>
</div>
