<nav class="side-menu">
  <div class="btn-menu">
    <img src="/img/menu.svg" alt="Icone Menu" />
  </div>

  <ul class="menu">
    <li class="item-menu">
      <a href="">
        <img src="/img/list.svg" alt="Icone de Lista" />
        <span>Lista de Produtos</span>
      </a>
    </li>
    <li class="item-menu">
      <a href="">
        <img src="/img/plus.svg" alt="Icone de Adição" />
        <span>Cadastrar</span>
      </a>
    </li>

    <li class="item-menu logout">
      <img src="/img/logout.svg" alt="Icone de Logout" />
      <span>Desconectar</span>
    </li>
  </ul>
</nav>
