<div class="popup-delete-container">
  <div class="pop-up-delete">
    <img src="img/close.svg" alt="" class="close" />

    <div class="title">
      <img src="img/box.svg" alt="" />
      <p>Excluir produto</p>
    </div>

    <div class="text">
      <p>
        Após essa ação, esse produto não irá mais existir. Deseja continuar ?
        Você será redirecionado após a exclusão.
      </p>
    </div>

    <div class="buttons-popup">
      <button class="confirm-delete">Confirmar exclusão</button>

      <button class="cancel-btn">Cancelar</button>
    </div>
  </div>
</div>
