<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Dashboard</title>
  </head>
  <body>
    <div class="container">
      <nav class="side-menu">
        <div class="btn-menu">
          <img src="/img/menu.svg" alt="Icone Menu" />
        </div>

        <ul class="menu">
          <li class="item-menu">
            <a href="">
              <img src="/img/list.svg" alt="Icone de Lista" />
              <span>Lista de Produtos</span>
            </a>
          </li>
          <li class="item-menu">
            <a href="">
              <img src="/img/plus.svg" alt="Icone de Adição" />
              <span>Cadastrar</span>
            </a>
          </li>

          <li class="item-menu logout">
            <img src="/img/logout.svg" alt="Icone de Logout" />
            <span>Desconectar</span>
          </li>
        </ul>
      </nav>
    </div>

    <script src="/js/main.js"></script>
  </body>
</html>
