<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Dashboard</title>
  </head>
  <body>
    <div class="container">
      <%- include("./includes/nav")%>

      <main class="main-home">
        <div class="search">
          <input
            type="text"
            class="search-input"
            placeholder="Produto, fabricante ou fornecedor"
          />
          <img src="/img/search.svg" alt="Icone de Pesquisa" />
        </div>

        <div class="products"></div>
      </main>
    </div>

    <script src="/js/main.js"></script>
    <script src="/lib/axios/axios.min.js"></script>
    <script src="/js/pages/list_products/listProduct.js" type="module"></script>
  </body>
</html>
