<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Login Administrador</title>
  </head>
  <body>
    <div class="container-login">
      <main>
        <div class="login-adm-container">
          <form class="form-container" method="post" action="/admin/login">
            <div class="title">
              <h1>Login de Administrador</h1>
            </div>

            <div class="fields">
              <div class="field">
                <label for="">E-mail:</label>
                <input type="email" name="email" />
              </div>

              <div class="field">
                <label for="">Senha:</label>

                <div class="input-password">
                  <input
                    class="input"
                    type="password"
                    autocomplete="off"
                    name="password"
                  />

                  <img
                    src="/img/eye.svg"
                    alt="Icone de visualizar"
                    class="eye"
                  />

                  <img
                    src="/img/eye-off.svg"
                    alt="Icone de não-visualizar"
                    class="eye-off on"
                  />
                </div>

                <a href="">Esqueci minha senha</a>
              </div>
            </div>

            <div class="buttons">
              <button class="login-btn">Logar</button>
            </div>
          </form>
        </div>
      </main>
    </div>

    <script src="/js/pages/login-adm/loginAdm.js" type="module"></script>
  </body>
</html>
