<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Produto</title>
  </head>
  <body>
    <div class="container">
      <%- include("./includes/nav")%>

      <main class="main-product">
        <%- include("./includes/form-product")%>

        <div class="delete-container1">
          <p>Deletar Produto</p>
          <button class="delete-button1">Deletar</button>
        </div>
      </main>
    </div>

    <script src="/js/main.js"></script>
    <script src="/lib/axios/axios.min.js"></script>
    <script
      type="module"
      src="/js/pages/control_products/control-products.js"
    ></script>
  </body>
</html>
