<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Registrar Produto</title>
  </head>
  <body>
    <div class="container">
      <%- include("./includes/nav")%>

      <main>
        <div class="register-container">
          <div class="title">
            <img src="/img/box.svg" alt="Icone de caixa" />
            <p>Cadastrar Produto</p>
          </div>

          <form action="" class="form-container">
            <div class="fields">
              <div class="field">
                <label>Produto:</label>
                <input
                  type="text"
                  name="productName"
                  placeholder="Nome do Produto"
                />
              </div>

              <div class="field">
                <label>Fabricante:</label>
                <input
                  type="text"
                  name="makerName"
                  placeholder="Nome do Fabricante"
                />
              </div>

              <div class="field">
                <label>Fornecedor:</label>
                <input
                  type="text"
                  name="providerName"
                  placeholder="Nome do Fornecedor"
                />
              </div>

              <div class="field">
                <label>Estoque:</label>
                <input type="number" name="quantityStock" placeholder="0" />
              </div>

              <div class="field">
                <label>Unidades:</label>
                <input type="number" name="units" placeholder="0" />
              </div>

              <div class="field">
                <label>Valor de compra:</label>
                <input type="number" name="purchaseValue" placeholder="0,00" />
              </div>

              <div class="field">
                <label>Percentual e valor de venda:</label>
                <div class="percent-sale">
                  <input
                    type="number"
                    class="percentage"
                    min="0"
                    max="100"
                    name="percentage"
                    placeholder="0%"
                  />
                  <input
                    type="number"
                    class="sale"
                    name="saleValue"
                    placeholder="0,00"
                  />
                </div>
              </div>
            </div>

            <div class="buttons">
              <button class="register-btn">Cadastrar</button>
              <button class="clean-btn">Limpar campos</button>
            </div>
          </form>
        </div>
      </main>
    </div>

    <script src="/js/main.js"></script>
  </body>
</html>
