<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Registrar Produto</title>
  </head>
  <body>
    <div class="container">
      <%- include("./includes/nav")%>

      <main>
        <div class="notification-container"></div>

        <div class="register-container">
          <div class="title">
            <img src="/img/box.svg" alt="Icone de caixa" />
            <p>Cadastrar Produto</p>
          </div>

          <div class="form-container">
            <div class="fields">
              <div class="field">
                <label>Produto:</label>
                <input
                  class="productName input-field"
                  type="text"
                  name="productName"
                  placeholder="Nome do Produto"
                />
              </div>

              <div class="field">
                <label>Fabricante:</label>
                <input
                  class="makerName input-field"
                  type="text"
                  name="makerName"
                  placeholder="Nome do Fabricante"
                />
              </div>

              <div class="field">
                <label>Fornecedor:</label>
                <input
                  class="providerName input-field"
                  type="text"
                  name="providerName"
                  placeholder="Nome do Fornecedor"
                />
              </div>

              <div class="field">
                <label>Estoque:</label>
                <input
                  type="number"
                  name="quantityStock"
                  placeholder="0"
                  class="quantityStock input-field"
                />
              </div>

              <div class="field">
                <label>Unidades:</label>
                <input
                  type="number"
                  name="units"
                  placeholder="0"
                  class="units input-field"
                />
              </div>

              <div class="field">
                <label>Valor de compra:</label>
                <input
                  type="number"
                  name="purchaseValue"
                  placeholder="R$ 0,00"
                  class="purchaseValue input-field"
                />
              </div>

              <div class="field">
                <label>Percentual:</label>

                <input
                  type="number"
                  class="percentage input-field"
                  min="0"
                  max="100"
                  name="percentage"
                  placeholder="0%"
                />
              </div>

              <div class="field">
                <label>Valor de venda:</label>

                <input
                  type="number"
                  class="sale input-field"
                  name="saleValue"
                  placeholder="R$ 0,00"
                />

                <div class="checkbox-container">
                  <input
                    type="checkbox"
                    id="saleOfUnits"
                    class="check-units-sale"
                  />
                  <label for="saleOfUnits" class="label-check"
                    >Venda de unidades</label
                  >
                </div>
              </div>

              <div class="field">
                <label>Valor da unidade:</label>

                <input
                  type="number"
                  class="unitValue disabled input-field"
                  name="unitValue"
                  placeholder="R$ 0,00"
                  disabled
                />
              </div>
            </div>

            <div class="buttons">
              <button class="register-btn">Cadastrar</button>
              <button class="clean-btn">Limpar campos</button>
            </div>
          </div>
        </div>
      </main>
    </div>

    <!-- <script src="/js/main.js"></script> -->
    <script src="/js/util/form/validForm.js" type="module"></script>
    <script src="/lib/axios/axios.min.js"></script>
  </body>
</html>
