<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Cadastro Administrador</title>
  </head>
  <body>
    <div class="container-register">
      <div class="notification-container"></div>

      <main>
        <div class="register-adm-container">
          <div class="form-container">
            <div class="title">
              <h1>Cadastro de Administrador</h1>
            </div>

            <div class="description">
              <p>Preencha todos os campos indicados com <strong>*</strong>.</p>
            </div>

            <div class="fields">
              <div class="field">
                <label>Nome Completo:*</label>

                <input type="text" name="userName" class="user-name" />
              </div>

              <div class="field">
                <label>E-mail:*</label>

                <input type="email" name="email" class="email" />
              </div>

              <div class="field">
                <label>Senha:*</label>

                <div class="input-password">
                  <input
                    type="password"
                    autocomplete="off"
                    class="input-pass"
                    name="password"
                  />

                  <img
                    src="/img/eye.svg"
                    alt="Icone de visualizar"
                    class="eye"
                  />

                  <img
                    src="/img/eye-off.svg"
                    alt="Icone de não-visualizar"
                    class="eye-off on"
                  />
                </div>

                <small>
                  A senha deve conter pelo menos 8 caracteres, incluindo uma
                  letra maiúscula, uma letra minúscula, um número e um caractere
                  especial (como !, @, #, $, %, etc).
                </small>
              </div>

              <div class="field">
                <label>Confirmar Senha:*</label>

                <div class="input-password">
                  <input
                    type="password"
                    autocomplete="off"
                    class="input-confirm"
                  />

                  <img
                    src="/img/eye.svg"
                    alt="Icone de visualizar"
                    class="eye-confirm"
                  />

                  <img
                    src="/img/eye-off.svg"
                    alt="Icone de não-visualizar"
                    class="eye-off-confirm on"
                  />
                </div>
              </div>
            </div>

            <div class="buttons">
              <button class="register-btn">Cadastrar</button>
            </div>
          </div>
        </div>
      </main>
    </div>

    <script src="/lib/validator/validator.min.js"></script>
    <script src="/lib/axios/axios.min.js"></script>
    <script src="/js/pages/register-adm/registerAdm.js" type="module"></script>
  </body>
</html>
